a.button {
			position: relative;
			color: rgba(255,255,255,1);
			text-decoration: none;
			background-color: cadetblue;
			font-family: 'Yanone Kaffeesatz';
			font-weight: 5;
			font-size: 1em;
			display: block;
			padding: 3px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			-webkit-box-shadow: 0px 9px 0px lightblue, 0px 9px 25px rgba(0,0,0,.7);
			-moz-box-shadow: 0px 9px 0px lightblue, 0px 9px 25px rgba(0,0,0,.7);
			box-shadow: 0px 9px 0px lightblue, 0px 9px 25px rgba(0,0,0,.7);
			margin: 100px auto;
			width: 80px;
			text-align: center;
			
			-webkit-transition: all .1s ease;
			-moz-transition: all .1s ease;
			-ms-transition: all .1s ease;
			-o-transition: all .1s ease;
			transition: all .1s ease;
		}

		a.button:active {
			-webkit-box-shadow: 0px 3px 0px lightblue, 0px 3px 6px rgba(0,0,0,.9);
			-moz-box-shadow: 0px 3px 0px lightblue, 0px 3px 6px rgba(0,0,0,.9);
			box-shadow: 0px 3px 0px lightblue, 0px 3px 6px rgba(0,0,0,.9);
			position: relative;
			top: 6px;
		}